#list li {
    list-style-type: none;
}
#container {
    position: absolute;
    bottom: 0;
}
#chat-box {
    position: relative;
    width: 30%;
    height: 60%;
    border: 1px solid balck;
    overflow-y: scroll;
    overflow-wrap: break-word;
}